<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <title>{% block title %}{% endblock %}</title>
</head> 
<body>
    <div style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 1px; text-align: center;">
        <h2 style="border: 1px solid black; padding: 10px; border-radius: 5px;">
            <a href="/merchstore/items">Merchstore</a>
        </h2>
        <h2 style="border: 1px solid black; padding: 10px; border-radius: 5px;">
            <a href="/wiki/articles"> Wiki </a>
        </h2>
        <h2 style="border: 1px solid black; padding: 10px; border-radius: 5px;">
            <a href="/blog/articles">Blog</a>
        </h2>
        <h2 style="border: 1px solid black; padding: 10px; border-radius: 5px;">
            <a href="/commissions/list">Commissions</a>
        </h2>
        <h2 style="border: 1px solid black; padding: 10px; border-radius: 5px;">
            <a href="/profile/update">Update my Profile</a>
        </h2>
    </div>
    <div style="text-align: center;" id="content">
        {% block content %}{% endblock content %}
        {% block form %}
            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <button type="submit">Log In</button>
                </form>
                <a href="{% url 'user_management:profile_create' %}"><button>Create Account</button></a>
            {% endif %}
        {% endblock form%}
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>