{% extends 'blog_base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block content %}

<h1>
    Article List
</h1>

<h2>
    My Article/s:
    {% for articlecategory in object_list %}
        {% for article in articlecategory.article.all %}
            {% if article.article_author == request.user.profile %}
                <li>
                    <a href="{{ article.get_absolute_url }}">
                        {{ article.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</h2>

<h3>
    All Articles:
    {% for category in article_category %}
        <li>
            <h4>{{category.name}}</h4>
            <ul>
                {% for article in category.article_category.all %}
                    {% if request.user.is_authenticated %}
                        {% if not article.author == request.user.username %}
                            <li>
                                <a href = "{{ article.get_absolute_url }}">{{article.title}}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <a href = "{{ article.get_absolute_url }}">{{article.title}}</a>
                        </li>
                    {% endif %}
            {% endfor %}
    {% endfor %}
</h3>

<h4>
    <a href="/blog/article/add"> Create an Article </a>
</h4>
{% endblock content %}