{% extends 'blog_base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block content %}

<body style="background-color:mistyrose;">
<style>
    h3 {
        font-family: 'Lucida Console'; 
        font-weight:100; 
        text-align: center;
    }
    h4 {
        font-family: 'Courier New'; 
        font-weight:100; 
        text-align: center;
    }
    h3.header{
        padding: 5px; 
        margin: 10px auto;
        border: 3px solid;
        border-radius: 10px; 
        background-color: azure; 
        text-align: center; 
        width: 150px;

    }
</style>

<h1>
    Article List
</h1>

<h2>
    My Article/s:
    {% for article in object_list %}
        {% if article_author == request.user.profile %}
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</h2> <br>

<h3>
    All Articles:
</h3>

<h4>
    {% for article in object_list %}
        {% if article_author != request.user.profile %}
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li>
        {% endif %}
        <p>{{ article.description }}</p>
    {% endfor %}
</h4> <br>

<h5>
    <center>   
        <a href="/blog/article/add"> Create an Article </a>
    </center>
</h5>
{% endblock content %}