{% extends 'blog_base.html' %}
{% load static %}
{% block title %} {{ article.title }} {% endblock title %}
{% block content %}

<div>
    <img src = "{{ article.header_image.url }}" alt = "{{ article.title }}">
</div>

<h1>
    {{ article.title }}
</h1>

<h2>
    <a href="/blog/articles">
        Go back to Article List
    </a>
</h2>

<h3>
    Read more: {{article.category}}
</h3>

</h4>
    {% for related_article in articles %} 
        {% if related_article.category == article.category %}
            {%if related_article != article %}
                <li><a href="{{ related_article.get_absolute_url }}">
                    {{ related_article.title }}
                </a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</h4>


<p> Created on: {{ article.created_on }} </p>
<p> Updated last: {{ article.updated_on }} </p> 
<p> Category: {{ article.category }} </p>
<p> Description: {{ article.description}} </p>
<p> Blog Proper: <br> {{ article.entry|linebreaks }} </p>

<h5>
    {% if article.article_author == request.user.profile %}     <!--editable when article owner is logged in-->
        <a href = "/blog/article/{{ article.pk }}/edit"> Edit my Article </a>
    {% endif %} 

    {% if request.user.is_authenticated %}
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Add Comment</button>
    </form>
        {% endif %}

    {% for comment in comments %}
    {% if comment.article == article %}
        {{ comment.created_on }} || {{ comment.comment_author }}
        <p>
            {{ comment.entry }}
        </p>
    {% endif %}
    {% endfor %}
</h5>

{% endblock content %}