{% extends 'blog_base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block content %}

<h1>
    Article List
</h1>

<h2>
    My Article/s:
    {% for article in object_list %}
        {% if article_author == request.user.profile %}
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</h2>

<h3>
    All Articles:
    {% for article in object_list %}
        <p>{{ article.title }}</p>
        <p>{{ article.description }}</p>
        {% if article_author != request.user.profile %}
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</h3>

<h4>
    <a href="/blog/article/add"> Create an Article </a>
</h4>
{% endblock content %}