{% extends 'base.html' %}
{% load static %}
{% block title %}Commissions App{% endblock title %}
{% block content %}
<style>
    .commission-container {
        display: grid;
        align-self: center;
    }
    p {margin-top: -20px;}
    body {
        text-align: center;
    }
</style>
<body>
    <h2> List of Commissions Created by {{ request.user.profile }} </h2>
    {% for commission in object_list %}
        {% if commission.author == request.user.profile %}
            <p style="margin-top: +20px;"><a href="{{commission.get_absolute_url}}">
                {{ commission.title }}</a>  by {{ commission.author }} - {{ commission.people_required }} Available Slots </p>
            <p> Status: {{ commission.get_status_display }} </p>
            <p> created on: {{ commission.created_on }}</p>
            <p> updated on: {{ commission.updated_on }}</p>
        {% endif %}
    {% endfor %}   
    <h2> List of Commissions {{ request.user.profile }} Applied To </h2>
    {% for commission in object_list %}
        {% if commission.author == request.user.profile %}
            {% if job_application.applicant == request.user.profile %}
            <p style="margin-top: +20px;"><a href="{{commission.get_absolute_url}}">
                {{ commission.title }}</a>  by {{ commission.author }} - {{ commission.people_required }} Available Slots </p>
                <p> Status: {{ commission.get_status_display }} </p>
                <p> created on: {{ commission.created_on }}</p>
                <p> updated on: {{ commission.updated_on }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
            
        
    <div class="commission-container">
        <h2> List of Current Available Commissions </h2>
        {% for commission in object_list %}
            {% if commission.author != request.user.profile %}
                <p style="margin-top: +20px;"><a href="{{commission.get_absolute_url}}">
                    {{ commission.title }}</a>  by {{ commission.author }} - {{ commission.people_required }} Available Slots </p>
                <p> Status: {{ commission.get_status_display }} </p>
                <p> created on: {{ commission.created_on }}</p>
                <p> updated on: {{ commission.updated_on }}</p>
            {% endif %}
        {% endfor %}
        
        <a href="/commissions/add">Create a Commission</a>
    </div>
</body>
{% endblock content %}
{% block form %}
{% endblock form %}
{% block scripts %}
{% endblock scripts %}
