{% extends 'base.html' %}
{% load static %}
{% block title %}Commissions App{% endblock title %}
{% block heading %} {% endblock heading %}
{% block content %}
<style>
    .comments {
        padding-top: 20%;
        text-align: center;
    }
    .commission {
        text-align: center;
    }
    .job {
        padding-top: 5%;
        text-align: center;
    }
</style>
<body>
    <div class="commission">
        <h2> {{ commission.title }} </h2>
        <h5>Created On: {{ commission.created_on }}</h5>
        <h3>Total Spots Available: {{ commission.people_required }}</h3>
        <p>{{ commission.description }}</p>
    </div>  

    <div class="job">
        <h2>Jobs Needed</h2>
        {% for job in commission.commissions.all %}
        <p>Role: {{ job.role }}</p>
        <p>Manpower Required for {{ job.role }}: {{job.manpower_required}}</p>
        {% endfor %}
    </div>
    
    <p class="comments">
        <h3>Comment Section</h3>
        {% for comments in commission.commissions.all %}
        <p>{{comments.updated_on}}: {{ comments.entry }}</p>
        {% endfor %}
    </p>
    <a href="/commissions/list">Back to List</a>
</body>
{% endblock content %}
