{% extends 'base.html' %}
{% load static %}
{% block title %}Commissions App{% endblock title %}
{% block content %}
<style>
    body {
        text-align: center;
        align-self: center;
    }
</style>
{% endblock content %}
{% block form %}
<body>
    <div class="commission-create">
        <h2> Create a New Commission</h2>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
    <div class="job-create">
        <h3> Create a New Job </h3>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
</body>
{% endblock form %}
{% block scripts %}
{% endblock scripts %}