{% extends "base.html" %}

{% load static %}

{% block title %} 
Merch Cart
{% endblock title %}

{% block content %}

<h3><p>{{ request.user.username }}'s  Transaction </p>
</h3>
<p><a href="/merchstore/items">Return to List</a></p>

<ul>
    {% for items in object_list %}
    {% if items.product.owner == owner %}
    <li>{{ items.product.name }}</li>
    <ul>
        <li>Price: {{ items.product.price }}</li>
        <li>Product Type: {{ items.product.producttype }}</li>
        <li>Amount: {{ items.amount }}</li>
        <li>Status: {{ items.status }}</li>
    </ul>
    {% endif %}
    {% endfor %}
</ul>
    
{% endblock content %}

{% block form %}
{% endblock form %}
{% block scripts %}
{% endblock scripts %}