{% extends "merch_base.html" %}

{% load static %}

{% block title %} 
Merch List
{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.username }}</h1>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
    {% else %}
        <h1>Hello world</h1>
        <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    
<h2> Merch List</h2>
<ul>
</ul>
<ul>
    {% for product in object_list %}
    <li><a href="{{ product.get_absolute_url }}">[{{ product.producttype }}] {{ product.name }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}