{% extends "merch_base.html" %}

{% load static %}

{% block title %} 
Merch Cart
{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}

{% for items in object_list %}
{% if request.user.username is transaction.buyer %}
<ul>
    <li>{{ items.product.name }}</li>
    <ul>
        <li>Price: {{ items.product.price }}</li>
        <li>Product Type: {{ items.product.producttype }}</li>
        <li>Amount: {{ items.amount }}</li>
        <li>Status: {{ items.status }}</li>
    </ul>
</ul>
{% end if%}

{% endfor %}

{% endif %}
    
{% endblock content %}