{% extends "base.html" %}

{% load static %}

{% block title %} 
{{product.name}}
{% endblock title %}

{% block content %}

<h2>{{ product.name }}</h2>
<ul>
    <li><h3>Price: {{ product.price }}</h3></li>
    <li>
        <p>
            <b>Product type: {{ product.producttype }}</b> <br> {{ product.producttype.description }}
        </p>
    </li>
    <li><p><b>Product Description:</b><br> {{ product.description }}</p></li>
</ul>
<br>

{% if request.user.is_authenticated %}
<!-- Dealing with Login Users-->
{% if request.user is product.owner %}

<h3><a href="{% url 'merchstore:product_update' pk=product.pk %}">Update Product</a></h3>

{% else %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" {% if product.stock is 0 %}disabled{% endif %}>Submit</button>
</form>

{% endif %}

<!-- Dealing with Non-Login Users-->
{% else %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" {% if product.stock is 0 %}disabled{% endif %}>Submit</button>
</form>

{% endif %}

<p><a href="/merchstore/items">Return to List</a></p>


<!--If the Transaction form has all the necessary details 
    and is saved,  the user will be redirected according to the login status. 
    If the user is authenticated, then they will be redirected to the CartView. 
    Otherwise, they will be redirected to the login page. 
    Once logged-in, only then can the transaction be saved.
-->

{% endblock content %}