{% extends "merch_base.html" %}

{% load static %}

{% block title %} 
Merch Transaction
{% endblock title %}

{% block content %}

{% for items in object_list %}
{% if request.user.username is product.owner %}
<ul> 
    <li>{{ items.product.name }}</li>
    <ul>
        <li>Price: {{ items.product.price }}</li>
        <li>Product Type: {{ items.product.producttype }}</li>
        <li>Amount: {{ items.amount }}</li>
        <li>Status: {{ items.status }}</li>
    </ul>
</ul>
{% endif %}
{% endfor %}

{% endblock content %}