{% extends "base.html" %}

{% load static %}

{% block title %} 
Merch List
{% endblock title %}

{% block content %}
<h2> Merch List</h2>
{% if request.user.is_authenticated %}

<p><a href="{% url 'merchstore:product_create' %}">Create Product</a></p>

{% endif %}
<ul>
    {% for product in object_list %}
    <li><a href="{{ product.get_absolute_url }}">[{{ product.producttype }}] {{ product.name }}</a></li>
    <ul>
        <li>{{ product.owner }}</li>
    </ul>
    {% endfor %}
</ul>

{% endblock content %}