{% extends "base.html" %}

{% load static %}

{% block title %} 
{{product.name}}
{% endblock title %}

{% block content %}

<h2>{{ product.name }}</h2>
<ul>
    <li><h3>Price: {{ product.price }}</h3></li>
    <li>
        <p>
            <b>Product type: {{ product.producttype }}</b> <br> {{ product.producttype.description }}
        </p>
    </li>
    <li><p><b>Product Description:</b><br> {{ product.description }}</p></li>
</ul>
<br>
<p><a href="/merchstore/items">Return to List</a></p>

{% endblock content %}