<DOCTYPE html>
    <html lang="en">
        <head>
                <title >
                    {% block title%}Wiki{% endblock %}
                </title>
            {% block heading %}
            {% endblock heading %}
            <h1 style = "font-family: 'Courier New'; text-align: center;"> 
                Wiki
            </h1>
        </head>
        <body style = "background-color: blanchedalmond; ">
            <div id="content">
                {% block content %}
                {% endblock content %}   
            </div>
            {% block scripts %}{% endblock %}
        </body>
    </html>
