{% extends 'wiki_base.html' %}
{% load static %}
{% block title %}Wiki{% endblock title%}
{% block heading %}
{% endblock heading %}
{% block content %}
        <div style="text-align: center;">
            <h3 style="font-style: bold,italic; border:  3px solid #333; border-radius: 10px; padding: 10px; background-color: #f5f5f5; color: #0c0909;">
                {{ article.title }}
                Category: {{ article.category }}
                <h4>
                    Created on: {{ article.created_on}}
                    Updated on: {{ article.updated_on}}
                </h4>
            </h3>

        
            <p style="font-size: 18px">
                {{ article.entry }} 
            </p>
            <h6>
                <!-- detects if the author is the requested user then it will link to editing the article-->
                {% if article.article_author == request.user.profile %}
                    <a href = "/wiki/article/{{ article.pk }}/edit"> Edit my Article</a>
                {% endif %} 
            </h6>
            <h6>
                Read More Articles:
                {% for otherarticle in article.all %} <!-- to edit: not showing so far-->
                    {% if othertherarticle.category ==  article.category %}
                        {% if otherarticle.title != article.title %}
                            <a href = "{{ otherarticle.get_absolute_url }}">
                                    {{ otherarticle.title }}
                            </a> 
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </h6>

            
            <h6>
                <a href="/wiki/articles" style="font-weight: bold;">
                    Back to Categories
                </a>
            </h6>
        </div>
{% endblock content %}
