{% extends 'wiki_base.html' %}
{% load static %}
{% block title %}Wiki{% endblock title%}
{% block heading %}
{% endblock heading %}
{% block content %}
        <div style="text-align: center;">
            <h3 style="font-style: bold,italic; border:  3px solid #333; border-radius: 10px; padding: 10px; background-color: #f5f5f5; color: #0c0909;">
                {{ article.title }} by {{ article.article_author }}
                Category: {{ article.category }}
                <h4>
                    Created on: {{ article.created_on}}
                    Updated on: {{ article.updated_on}}

                </h4>
            </h3>

        
            <p style="font-size: 18px">
                {{ article.entry }} 
            </p>
            <h6>
                <!-- detects if the author is the requested user then it will link to editing the article (this works just need to change urls)-->
                {% if article.article_author == request.user.profile %}
                    <a href = "/wiki/article/{{ article.pk }}/edit"> Edit my Article</a>
                {% endif %} 
        
            </h6>
            <h6>
                Read More from {{ article.category }}: <!-- to edit-->
            </h6>
                {% for article in articlecategory.article.all %}
                    <li style="margin-bottom: 5px;"><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
                {% endfor %}
                    {% if other_article.category == article.category and other_article != article %}
                        <p><a href="{{ other_article.get_absolute_url }}">{{ other_article.title }}</a></p>
                    {% endif %}

            

            <form action= '' method = "POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Add Comment</button>
            </form>

            <h6>
                {% for comments in comments.article %}
                    {{ comments.updated_on }}: by {{ comments.comment_author }}
                    <p>
                        {{ comments.entry }}
                    </p>
                {% endfor %}
            </h6>

            
            <h6>
                <a href="/wiki/articles" style="font-weight: bold;">
                    Back to Categories
                </a>
            </h6>
        </div>
{% endblock content %}
